@model IEnumerable<Blog.Models.Article>

@{
    ViewData["Title"] = "Blog";

    string? authorEmail = null;
    DateTimeOffset? startDate = null;
    DateTimeOffset? endDate = null;
}

<h1>Published Articles</h1>

<form class="row row-cols-lg-auto g-3 align-items-center" asp-action="Index" method="get">
    <div class="col-12">
        <label class="visually-hidden"
               asp-for="@startDate">Start date</label>
        <input class="form-control"
               type="date" asp-for="@startDate" />
    </div>
    <div class="col-12">
        <label class="visually-hidden"
               asp-for="@endDate">End date</label>
        <input class="form-control"
               type="date" asp-for="@endDate" />
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Filter</button>
    </div>
</form>


<div class="row">
    @foreach (var article in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        By @article.AuthorName on @article.PublishedDate.ToString("MMM dd, yyyy")
                    </h6>
                    <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    }
</div>
